staticy
cmd/magicgate/_dlv.sh
log/
cmd/magicgate/tmp/
__debug_bin
_debug.sh
/ref/
cmd/magicgate/.magicgate/
cmd/magicgate/debug.sh
cmd/magicgate/magicgate
vsdir/
.vscode/
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor/
.vscode/
.idea/
testdata

node_modules/
package-lock.json
*.prof
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
